button {
  display: inline-block; /* Asegura que el botón se ajuste a su contenido */
  width: auto; /* Elimina el ancho del 100% */
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: white !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box; /* Incluye padding y bordes */
}

button:hover {
  transform: scale(1.05);
  border-radius: 10px; /* Bordes más redondeados al pasar el mouse */
  background-color: rgba(255, 255, 255, 0.2);
  color: #00adb5;
}
