<div class="register-container">
  <h2>Regístrate</h2>
  <form (ngSubmit)="register()">
    <app-input
      [label]="'Username'"
      [placeholder]="'Enter your username'"
      [(model)]="username"
      [name]="'username'"
      [required]="true"
    ></app-input>

    <app-input
      [label]="'Password'"
      [placeholder]="'Enter your password'"
      [type]="'password'"
      [(model)]="password"
      [name]="'password'"
      [required]="true"
    ></app-input>

    <app-button type="submit" color="primary">Continuar</app-button>
  </form>
</div>
