.category-field {
  width: 100%; /* Ocupa todo el espacio disponible */
  max-width: 300px; /* Ancho máximo */
  background-color: #fff; /* Fondo blanco */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.category-field:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Más sombra al pasar el cursor */
}

.category-field mat-option {
  padding: 10px; /* Más espacio en las opciones */
  font-size: 16px; /* Texto más grande */
}
