select {
  width: 100%; /* Asegura que el desplegable ocupe todo el ancho disponible */
  padding: 8px; /* Añade un poco de padding para mejorar la apariencia */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
}

.chip {
  display: inline-block;
  padding: 8px;
  margin: 4px;
  background-color: #e0e0e0;
  border-radius: 16px;
  font-size: 14px;
}

.chip button {
  background: none;
  border: none;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}
