<mat-toolbar color="primary">
  <button mat-button (click)="goToHome()">Mi Tienda</button>
  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label>Buscar productos</mat-label>
    <input matInput (input)="onSearch($event)" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categorias</mat-label>
    <mat-select (selectionChange)="onSelectCategory($event)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <a mat-button routerLink="#">Login</a>
  <a mat-button routerLink="#">Registro</a>
</mat-toolbar>
