/* Contenedor principal del header */
.mat-toolbar {
  display: flex;
  align-items: center; /* Alinea todos los elementos verticalmente */
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  padding: 0 16px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye padding en el tamaño total */
  background-color: #2c3e50; /* Fondo claro */
  overflow: visible; /* Asegura que nada salga del contenedor */
  color: white; /* Texto claro */
}

/* Sección izquierda: Logo y nombre */
.header-left {
  display: flex;
  align-items: center; /* Asegura alineación vertical */
  gap: 10px; /* Espaciado entre elementos */
}

/* Sección central: Buscador y filtro */

.header-center {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  gap: 10px; /* Espaciado entre los elementos */
}

/* Sección derecha: Navegación */
.header-right {
  margin-left: 10px;
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 10px; /* Espaciado entre botones */
}

/* Espaciador entre elementos */
.spacer {
  flex-grow: 1; /* Crea un espacio flexible entre elementos */
}

/* Icono del menú en pantallas pequeñas */
.menu-icon {
  display: none; /* Ocultar el menú hamburguesa por defecto */
}

@media (max-width: 850px) {
  .menu-icon {
    display: block; /* Mostrar el menú hamburguesa en pantallas pequeñas */
  }

  .header-center {
    display: none;
  }

  .header-right {
    display: none;
  }
}
