<mat-toolbar color="primary">
  <app-button [navigateTo]="'/home'"> Mi Tienda </app-button>

  <span class="spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label>Buscar productos</mat-label>
    <input matInput (input)="onSearch($event)" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Buscar por categoría</mat-label>
    <mat-select (selectionChange)="onSelectCategory($event)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-button [navigateTo]="'/products'"> Productos </app-button>
  <app-button [navigateTo]="'/cart'"> Carrito </app-button>
  <app-button [navigateTo]="'/login'"> Login </app-button>
  <app-button [navigateTo]="'/register'"> Registro </app-button>
</mat-toolbar>
