<mat-sidenav-container class="drawer-container">
  <!-- Menú lateral -->
  <mat-sidenav mode="over" [(opened)]="menuOpened">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'">Home</a>
      <a mat-list-item [routerLink]="'/products'">Productos</a>
      <a mat-list-item [routerLink]="'/cart'">Carrito</a>
      <a mat-list-item [routerLink]="'/login'">Login</a>
      <a mat-list-item [routerLink]="'/register'">Registro</a>
      <a mat-list-item (click)="closeMenu()">Cerrar menu</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Sección izquierda: Home -->
      <div class="header-left">
        <button
          mat-icon-button
          class="menu-icon"
          (click)="menuOpened = !menuOpened"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <app-button [navigateTo]="'/'">Mi Tienda</app-button>
      </div>

      <span class="spacer"></span>

      <!-- Centro: Buscador y filtro -->
      <div class="header-center" *ngIf="showSearchAndCategories">
        <app-search-bar (searchTerm)="onSearch($event)"></app-search-bar>
        <app-category-filter (selectedCategory)="onSelectCategory($event)">
        </app-category-filter>
      </div>

      <!-- Sección derecha -->
      <div class="header-right">
        <app-button [navigateTo]="'/products'">Productos</app-button>
        <app-button [navigateTo]="'/cart'">Carrito</app-button>
        <app-button [navigateTo]="'/login'">Login</app-button>
        <app-button [navigateTo]="'/register'">Registro</app-button>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
