.mat-toolbar {
  display: flex; /* Configura el header como un contenedor flexible */
  justify-content: space-between; /* Coloca los elementos en extremos opuestos */
  align-items: center; /* Alinea verticalmente los elementos */
  width: 100%; /* Asegura que ocupe todo el ancho */
  margin: 0;
  padding: 0 16px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
  background-color: #f5f5f5;
}

.mat-drawer-container {
  background-color: #f5f5f5 !important; /* Forzar el color uniforme */
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el menú y el botón Home */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre los elementos de la derecha */
}

.spacer {
  flex-grow: 1; /* Crea un espacio flexible entre los elementos de la izquierda y la derecha */
}

.menu-icon {
  display: none; /* Ocultar el menú hamburguesa por defecto */
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Mostrar el menú hamburguesa en pantallas pequeñas */
  }

  .header-right {
    display: none; /* Ocultar las opciones en pantallas pequeñas */
  }
}
