.mat-form-field {
  width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
  margin-bottom: 16px; /* Añade espacio entre inputs */
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important; /* Fondo blanco */
}

.mat-mdc-text-field-wrapper {
  background-color: white !important; /* Fondo blanco */
  border-radius: 5px; /* Bordes redondeados */
}
