/* Estilos para el contenedor de la lista de productos */
.mat-grid-list {
  width: 100%;
  margin: 0 auto;
}

/* Estilos para cada tile de producto */
.mat-grid-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el enlace del producto */
.product-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos para la imagen del producto */
.product-image {
  width: 100%;
  height: 200px; /* Altura fija para las imágenes */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen sin distorsión */
}

/* Estilos para la información del producto */
.product-info {
  padding: 10px;
  text-align: center;
}

.product-info h4 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product-info p {
  margin: 0;
  font-size: 1em;
  color: #888;
}
