<div class="product-list">
  <mat-card *ngFor="let product of visibleProducts" class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle class="category-text">{{
        product.category
      }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      [src]="product.image"
      alt="{{ product.title }}"
      class="product-image"
    />
    <mat-card-content>
      <p class="description">{{ product.description }}</p>
      <p class="price">
        <strong>Precio:</strong> {{ product.price | currency }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon class="add-to-cart-icon" (click)="addToCart(product)">
        add_shopping_cart
      </mat-icon>

      <button
        class="btn-details"
        mat-stroked-button
        color="accent"
        [routerLink]="'/product/' + product.id"
      >
        Ver detalles
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="loading-spinner" *ngIf="isLoading">
  <mat-spinner diameter="40"></mat-spinner>
</div>
