/* Asegúrate de que el componente principal ocupe toda la altura */
:host {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Cambia de min-height a height para que se ajuste dinámicamente */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajuste del contenedor principal */
.router-outlet-container {
  flex: 1;
  display: flex;
  /*width: 160px; Fijar un ancho constante para poder hacer scroll en pantalla grande  */
  flex-direction: column;
  padding: 0 16px; /* Elimina el padding interno */
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

/* Footer en la parte inferior */
app-footer {
  flex-shrink: 0; /* Evita que el footer se reduzca */
  margin: 0; /* Asegúrate de que no tenga márgenes adicionales */
  padding: 16px 0; /* Espaciado interno */
  background-color: #f5f5f5;
  width: 100%; /* Ocupa todo el ancho */
}
