<div class="login-container">
  <form (ngSubmit)="login()">
    <app-input
      label="Username"
      type="text"
      placeholder="Enter your username"
      [(model)]="username"
      name="username"
      [required]="true"
    ></app-input>

    <app-input
      label="Password"
      type="password"
      placeholder="Enter your password"
      [(model)]="password"
      name="password"
      [required]="true"
    ></app-input>

    <app-button type="submit" color="primary">Login</app-button>
  </form>
</div>
