<div class="login-container">
  <h2>Inicia sesión</h2>
  <form (ngSubmit)="login()">
    <app-input
      [label]="'Username'"
      [placeholder]="'Enter your username'"
      [(model)]="username"
      [name]="'username'"
      [required]="true"
    ></app-input>

    <app-input
      label="Password"
      type="password"
      placeholder="Enter your password"
      [(model)]="password"
      name="password"
      [required]="true"
    ></app-input>

    <app-button type="submit" color="accent">Continuar</app-button>
  </form>
</div>
